<ul>
    <li><app-service-item [title]="titles[0]" [description]="descriptions[0]"></app-service-item></li>
    <li><app-service-item [title]="titles[1]" [description]="descriptions[1]"></app-service-item></li>
    <li><app-service-item [title]="titles[2]" [description]="descriptions[2]"></app-service-item></li>
    <li><app-service-item [title]="titles[3]" [description]="descriptions[3]"></app-service-item></li>
    <li><app-service-item [title]="titles[4]" [description]="descriptions[4]"></app-service-item></li>
    <li><app-service-item [title]="titles[5]" [description]="descriptions[5]"></app-service-item></li>
</ul>