<ul>
    <li><app-service-item [title]="titles[0]" [description]="descriptions[0]" [image]="images[0]"></app-service-item></li>
    <li><app-service-item [title]="titles[1]" [description]="descriptions[1]" [image]="images[1]"></app-service-item></li>
    <li><app-service-item [title]="titles[2]" [description]="descriptions[2]" [image]="images[2]"></app-service-item></li>
    <li><app-service-item [title]="titles[3]" [description]="descriptions[3]" [image]="images[3]"></app-service-item></li>
    <li><app-service-item [title]="titles[4]" [description]="descriptions[4]" [image]="images[4]"></app-service-item></li>
    <li><app-service-item [title]="titles[5]" [description]="descriptions[5]" [image]="images[5]"></app-service-item></li>
</ul>