button {
    width: 120px;
    height: 35px;
    border-radius: 55px;
    background-color: #ffffff;
    color: #458FF6;
    font-family: 'Muli';
    border-style: solid;
    border-color: #458FF6;
    margin-left: 10px;
}