section {
    display: grid;
    align-items: center;
}

.consult {
    font-family: 'Muli';
    margin-top: 35px;
    display: grid;
    max-width: 500px;
}

.consult p {
    margin-top: -10px;
    color: #7D7987;
}

.consult button {
    width: 120px;
    height: 35px;
    border-radius: 55px;
    background-color: #458FF6;
    color: white;
    font-family: 'Muli';
    border-style: none;
    margin-left: auto;
    margin-right: auto;
}

.consultIllustration {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.consultIllustration img {
    width: 250px;
}

@media screen and (width >= 600px) {
    section {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 50px;
        margin-right: 50px;
    }

    .consult h2 {
        font-size: 2.5vw;
    }

    .consult p {
        font-size: 1.094vw;
    }

    .consult button {
        margin-left: 0;
        margin-right: 0;
    }

    .consultIllustration img {
        width: 500px;
        justify-content: right;
    }
}