section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 180px;
    padding-right: 180px;
    margin-bottom: 527px;
}

h3 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

ul {
    list-style: none;
}

img {
    width: 600px;
    height: 300px;
}

